
src/Mooege/Mooege-VS2010.suo
src/Mooege-VS2010.sln
*.orig
src/Mooege/bin
src/Mooege/bin/Debug
src/Mooege/bin/Release
src/Mooege/bin/Release/AStar.dll
src/Mooege/bin/Release/AStar.pdb
src/Mooege/bin/Release/c06c3a43f760b9ef2c7965ac229531d17e93279cd2666bf1b9f130b8db5cb2f9.achv
src/Mooege/bin/Release/config.ini
src/Mooege/bin/Release/CrystalMpq.dll
src/Mooege/bin/Release/CrystalMpq.xml
src/Mooege/bin/Release/Gibbed.IO.dll
src/Mooege/bin/Release/Google.ProtocolBuffers.dll
src/Mooege/bin/Release/ICSharpCode.SharpZipLib.dll
src/Mooege/bin/Release/libeay32.dll
src/Mooege/bin/Release/LibMooNet.dll
src/Mooege/bin/Release/logs
src/Mooege/bin/Release/ManagedOpenSsl.dll
src/Mooege/bin/Release/ManagedOpenSsl.dll.config
src/Mooege/bin/Release/ManagedOpenSsl.xml
src/Mooege/bin/Release/Mooege.exe
src/Mooege/bin/Release/Mooege.exe.config
src/Mooege/bin/Release/Nini.dll
src/Mooege/bin/Release/PowerCollections.dll
src/Mooege/bin/Release/PowerCollections.xml
src/Mooege/bin/Release/ssleay32.dll
src/Mooege/bin/Release/System.Data.SQLite.dll
src/Mooege/bin/Release/logs/mooege.log
src/Mooege/bin/Release/logs/packet-dump.log
src/Mooege/bin/Release/Assets/account.db
src/Mooege/bin/Release/Assets/mpqdata.db
src/Mooege/bin/Debug/AStar.dll
src/Mooege/bin/Debug/c06c3a43f760b9ef2c7965ac229531d17e93279cd2666bf1b9f130b8db5cb2f9.achv
src/Mooege/bin/Debug/config.ini
src/Mooege/bin/Debug/CrystalMpq.dll
src/Mooege/bin/Debug/Gibbed.IO.dll
src/Mooege/bin/Debug/Google.ProtocolBuffers.dll
src/Mooege/bin/Debug/ICSharpCode.SharpZipLib.dll
src/Mooege/bin/Debug/libcrypto.1.0.0.dylib
src/Mooege/bin/Debug/libeay32.dll
src/Mooege/bin/Debug/LibMooNet.dll
src/Mooege/bin/Debug/LibMooNet.dll.mdb
src/Mooege/bin/Debug/logs
src/Mooege/bin/Debug/ManagedOpenSsl.dll
src/Mooege/bin/Debug/ManagedOpenSsl.dll.config
src/Mooege/bin/Debug/Mooege.exe
src/Mooege/bin/Debug/Mooege.exe.config
src/Mooege/bin/Debug/Mooege.exe.mdb
src/Mooege/bin/Debug/Mooege.vshost.exe
src/Mooege/bin/Debug/Mooege.vshost.exe.config
src/Mooege/bin/Debug/Mooege.vshost.exe.manifest
src/Mooege/bin/Debug/Nini.dll
src/Mooege/bin/Debug/PowerCollections.dll
src/Mooege/bin/Debug/ssleay32.dll
src/Mooege/bin/Debug/System.Data.SQLite.dll
src/Mooege/bin/Debug/Assets/account.db
src/Mooege/bin/Debug/Assets/mpqdata.db
src/Mooege/bin/Debug/Assets
src/Mooege/bin/Debug/Assets/MPQ
src/Mooege/bin/Debug/Assets/MPQ/base
src/Mooege/bin/Debug/Assets/MPQ/base-Win.mpq
src/Mooege/bin/Debug/Assets/MPQ/Cache
src/Mooege/bin/Debug/Assets/MPQ/ClientData.mpq
src/Mooege/bin/Debug/Assets/MPQ/CoreData.mpq
src/Mooege/bin/Debug/Assets/MPQ/enUS
src/Mooege/bin/Debug/Assets/MPQ/enUS_Audio.mpq
src/Mooege/bin/Debug/Assets/MPQ/enUS_Cutscene.mpq
src/Mooege/bin/Debug/Assets/MPQ/enUS_Text.mpq
src/Mooege/bin/Debug/Assets/MPQ/HLSLShaders.mpq
src/Mooege/bin/Debug/Assets/MPQ/IMPORTANT
src/Mooege/bin/Debug/Assets/MPQ/Sound.mpq
src/Mooege/bin/Debug/Assets/MPQ/Texture.mpq
src/Mooege/bin/Debug/Assets/MPQ/Win
src/Mooege/bin/Debug/Assets/MPQ/base/d3-update-base-7170.MPQ
src/Mooege/bin/Debug/Assets/MPQ/base/d3-update-base-7200.MPQ
src/Mooege/bin/Debug/Assets/MPQ/base/d3-update-base-7318.MPQ
src/Mooege/bin/Debug/Assets/MPQ/base/d3-update-base-7338.MPQ
src/Mooege/bin/Debug/Assets/MPQ/base/d3-update-base-7447.MPQ
src/Mooege/bin/Debug/Assets/MPQ/base/d3-update-base-7728.MPQ
src/Mooege/bin/Debug/Assets/MPQ/base/d3-update-base-7841.MPQ
src/Mooege/bin/Debug/Assets/MPQ/base/d3-update-base-7931.MPQ
src/Mooege/bin/Debug/Assets/MPQ/base/d3-update-base-8059.MPQ
src/Mooege/bin/Debug/Assets/MPQ/base/d3-update-base-8101.MPQ
src/Mooege/bin/Debug/Assets/MPQ/base/d3-update-base-8296.MPQ
src/Mooege/bin/Debug/Assets/MPQ/base/d3-update-base-8350.MPQ
src/Mooege/bin/Debug/Assets/MPQ/enUS/d3-update-enUS-7170.MPQ
src/Mooege/bin/Debug/Assets/MPQ/enUS/d3-update-enUS-7200.MPQ
src/Mooege/bin/Debug/Assets/MPQ/enUS/d3-update-enUS-7318.MPQ
src/Mooege/bin/Debug/Assets/MPQ/enUS/d3-update-enUS-7338.MPQ
src/Mooege/bin/Debug/Assets/MPQ/enUS/d3-update-enUS-7447.MPQ
src/Mooege/bin/Debug/Assets/MPQ/enUS/d3-update-enUS-7728.MPQ
src/Mooege/bin/Debug/Assets/MPQ/enUS/d3-update-enUS-7841.MPQ
src/Mooege/bin/Debug/Assets/MPQ/enUS/d3-update-enUS-7931.MPQ
src/Mooege/bin/Debug/Assets/MPQ/enUS/d3-update-enUS-8059.MPQ
src/Mooege/bin/Debug/Assets/MPQ/enUS/d3-update-enUS-8296.MPQ
src/Mooege/bin/Debug/Assets/MPQ/Win/d3-update-Win-7200.MPQ
src/Mooege/bin/Debug/Assets/MPQ/Win/d3-update-Win-7318.MPQ
src/Mooege/bin/Debug/Assets/MPQ/Win/d3-update-Win-7338.MPQ
src/Mooege/bin/Debug/Assets/MPQ/Win/d3-update-Win-7447.MPQ
src/Mooege/bin/Debug/Assets/MPQ/Win/d3-update-Win-7728.MPQ
src/Mooege/bin/Debug/Assets/MPQ/Win/d3-update-Win-7841.MPQ
src/Mooege/bin/Debug/Assets/MPQ/Win/d3-update-Win-7931.MPQ
src/Mooege/bin/Debug/Assets/MPQ/Win/d3-update-Win-8059.MPQ
src/Mooege/bin/Debug/Assets/MPQ/Win/d3-update-Win-8101.MPQ
src/Mooege/bin/Debug/Assets/MPQ/Win/d3-update-Win-8296.MPQ
src/Mooege/bin/Debug/Assets/MPQ/Win/d3-update-Win-8350.MPQ
src/Mooege/bin/Debug/logs/mooege.log
src/Mooege/bin/Debug/logs/packet-dump.log
src/Mooege/bin/Release/Assets/MPQ/base-Win.mpq
src/Mooege/bin/Release/Assets/MPQ/Cache
src/Mooege/bin/Release/Assets/MPQ/ClientData.mpq
src/Mooege/bin/Release/Assets/MPQ/CoreData.mpq
src/Mooege/bin/Release/Assets/MPQ/enUS
src/Mooege/bin/Release/Assets/MPQ/enUS_Audio.mpq
src/Mooege/bin/Release/Assets/MPQ/enUS_Cutscene.mpq
src/Mooege/bin/Release/Assets/MPQ/enUS_Text.mpq
src/Mooege/bin/Release/Assets/MPQ/HLSLShaders.mpq
src/Mooege/bin/Release/Assets/MPQ/IMPORTANT
src/Mooege/bin/Release/Assets/MPQ/Sound.mpq
src/Mooege/bin/Release/Assets/MPQ/Texture.mpq
src/Mooege/bin/Release/Assets/MPQ/Win/d3-update-Win-7200.MPQ
src/Mooege/bin/Release/Assets/MPQ/Win/d3-update-Win-7318.MPQ
src/Mooege/bin/Release/Assets/MPQ/Win/d3-update-Win-7338.MPQ
src/Mooege/bin/Release/Assets/MPQ/Win/d3-update-Win-7447.MPQ
src/Mooege/bin/Release/Assets/MPQ/Win/d3-update-Win-7728.MPQ
src/Mooege/bin/Release/Assets/MPQ/Win/d3-update-Win-7841.MPQ
src/Mooege/bin/Release/Assets/MPQ/Win/d3-update-Win-7931.MPQ
src/Mooege/bin/Release/Assets/MPQ/Win/d3-update-Win-8059.MPQ
src/Mooege/bin/Release/Assets/MPQ/Win/d3-update-Win-8101.MPQ
src/Mooege/bin/Release/Assets/MPQ/Win/d3-update-Win-8296.MPQ
src/Mooege/bin/Release/Assets/MPQ/Win/d3-update-Win-8350.MPQ
src/Mooege/bin/Release/Assets/MPQ/enUS/d3-update-enUS-7170.MPQ
src/Mooege/bin/Release/Assets/MPQ/enUS/d3-update-enUS-7200.MPQ
src/Mooege/bin/Release/Assets/MPQ/enUS/d3-update-enUS-7318.MPQ
src/Mooege/bin/Release/Assets/MPQ/enUS/d3-update-enUS-7338.MPQ
src/Mooege/bin/Release/Assets/MPQ/enUS/d3-update-enUS-7447.MPQ
src/Mooege/bin/Release/Assets/MPQ/enUS/d3-update-enUS-7728.MPQ
src/Mooege/bin/Release/Assets/MPQ/enUS/d3-update-enUS-7841.MPQ
src/Mooege/bin/Release/Assets/MPQ/enUS/d3-update-enUS-7931.MPQ
src/Mooege/bin/Release/Assets/MPQ/enUS/d3-update-enUS-8059.MPQ
src/Mooege/bin/Release/Assets/MPQ/enUS/d3-update-enUS-8296.MPQ
src/Mooege/bin/Release/Assets/MPQ/base/d3-update-base-7170.MPQ
src/Mooege/bin/Release/Assets/MPQ/base/d3-update-base-7200.MPQ
src/Mooege/bin/Release/Assets/MPQ/base/d3-update-base-7318.MPQ
src/Mooege/bin/Release/Assets/MPQ/base/d3-update-base-7338.MPQ
src/Mooege/bin/Release/Assets/MPQ/base/d3-update-base-7447.MPQ
src/Mooege/bin/Release/Assets/MPQ/base/d3-update-base-7728.MPQ
src/Mooege/bin/Release/Assets/MPQ/base/d3-update-base-7841.MPQ
src/Mooege/bin/Release/Assets/MPQ/base/d3-update-base-7931.MPQ
src/Mooege/bin/Release/Assets/MPQ/base/d3-update-base-8059.MPQ
src/Mooege/bin/Release/Assets/MPQ/base/d3-update-base-8101.MPQ
src/Mooege/bin/Release/Assets/MPQ/base/d3-update-base-8296.MPQ
src/Mooege/bin/Release/Assets/MPQ/base/d3-update-base-8350.MPQ